<plain-layout>
  <div class="columns">
    <div class="column is-two-fifths is-offset-one-third">
      <form>
        <div class="card has-text-left">
          <div class="card-header">
            <p class="card-header-title">
              CinemaNz Admin Login
            </p>
          </div>

          <div class="card-content">
            <text-field label="Username"></text-field>

            <text-field label="Password" type="password"></text-field>
          </div>

          <div class="card-footer">
            <div class="card-footer-item">
              <button class="button is-dark is-fullwidth" type="submit">
                Login
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</plain-layout>
