<plain-layout>
  <div class="columns">
    <div class="column is-two-fifths is-offset-one-third">
      <form [formGroup]="formState.form" (ngSubmit)="login()">
        <div class="card has-text-left">
          <div class="card-header">
            <p class="card-header-title">
              CinemaNz Admin Login
            </p>
          </div>

          <div class="card-content">
            <div class="columns is-multiline">
              <div class="column is-12">
                <text-field
                  [controlRef]="formState.form.controls.email"
                  [errorMessage]="formState.field.email.error"
                  [id]="'TxtEmail'"
                  label="Email"
                ></text-field>
              </div>

              <div class="column is-12">
                <text-field
                  [controlRef]="formState.form.controls.password"
                  [errorMessage]="formState.field.password.error"
                  [id]="'TxtPassword'"
                  label="Password"
                  type="password"
                ></text-field>
              </div>
            </div>
          </div>

          <div class="card-footer">
            <div class="card-footer-item">
              <button class="button is-dark is-fullwidth" type="submit">
                Login
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</plain-layout>
