<base-layout>
  <p *ngIf="loading.isFetchTheaters; else content">Loading...</p>

  <ng-template #content>
    <nav class="level">
      <div class="level-left">
        <div class="level-item">
          <h1 class="title">Theater</h1>
        </div>
      </div>
      <div class="level-right">
        <div class="level-item">
          <button class="button is-info">Add Theater</button>
        </div>
      </div>
    </nav>

    <table class="table is-fullwidth is-striped">
      <thead>
        <tr>
          <th>No.</th>
          <th>Name</th>
          <th>Action</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let theater of theaters.data; let i = index">
          <td>
            {{ (theaters.meta.page - 1) * theaters.meta.perPage + (i + 1) }}
          </td>
          <td>{{ theater.name }}</td>
          <td>
            <div class="field is-grouped">
              <p class="control">
                <button class="button is-light">
                  <span class="icon">
                    <fa-icon [icon]="icon.edit"></fa-icon>
                  </span>
                </button>
              </p>

              <p class="control">
                <button
                  class="button is-danger"
                  type="button"
                  (click)="confirmDelete(theater)"
                >
                  <span class="icon">
                    <fa-icon [icon]="icon.delete"></fa-icon>
                  </span>
                </button>
              </p>
            </div>
          </td>
        </tr>
      </tbody>
    </table>

    <pagination
      [meta]="theaters.meta"
      (nextPageClicked)="fetchPaginatedTheaters($event)"
      (previousPageClicked)="fetchPaginatedTheaters($event)"
    ></pagination>

    <modal [(isShow)]="modal.isDelete" width="360">
      <div class="box">
        <div class="mb-5">
          <p>
            This action
            <strong>cannot</strong>
            to be undone. This will permanently delete the
            <b>{{ selectedTheater.name }}</b>
            theater.
          </p>
        </div>

        <div class="buttons is-right">
          <button
            class="button is-danger is-light"
            type="button"
            (click)="delete()"
          >
            Confirm
          </button>

          <button
            class="button is-light"
            type="button"
            (click)="toggleModal('isDelete')"
          >
            Cancel
          </button>
        </div>
      </div>
    </modal>
  </ng-template>
</base-layout>
