<base-layout>
  <p *ngIf="loading.isFetchMovies; else content">Loading...</p>

  <ng-template #content>
    <nav class="level">
      <div class="level-left">
        <div class="level-item">
          <h1 class="title">Movie</h1>
        </div>
      </div>
      <div class="level-right">
        <div class="level-item">
          <button class="button is-info">Add Movie</button>
        </div>
      </div>
    </nav>

    <table class="table is-fullwidth is-striped">
      <thead>
        <tr>
          <th>No.</th>
          <th>Judul</th>
          <th>Action</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let movie of movies.data; let i = index">
          <td>{{ (movies.meta.page - 1) * movies.meta.perPage + (i + 1) }}</td>
          <td>{{ movie.title }}</td>
          <td></td>
        </tr>
      </tbody>
    </table>

    <pagination
      [meta]="movies.meta"
      (nextPageClicked)="fetchPaginatedMovies($event)"
      (previousPageClicked)="fetchPaginatedMovies($event)"
    ></pagination>
  </ng-template>
</base-layout>
