<base-layout>
  <loading-spinner
    *ngIf="loading.isFetchMovies; else content"
  ></loading-spinner>

  <ng-template #content>
    <ng-container *ngIf="movies.data.length; else notFound">
      <div class="box is-shadowless">
        <nav class="level">
          <div class="level-left">
            <div class="level-item">
              <h1 class="title">Movie</h1>
            </div>
          </div>

          <div class="level-right">
            <div class="level-item">
              <button class="button is-info" type="button" (click)="put()">
                Add Movie
              </button>
            </div>
          </div>
        </nav>

        <table class="table is-fullwidth is-striped">
          <thead>
            <tr>
              <th class="has-text-centered" width="10%">No.</th>
              <th>Judul</th>
              <th class="has-text-centered" width="15%">Action</th>
            </tr>
          </thead>

          <tbody>
            <tr *ngFor="let movie of movies.data; let i = index">
              <td class="has-text-centered">
                {{ (movies.meta.page - 1) * movies.meta.perPage + (i + 1) }}
              </td>
              <td>{{ movie.title }}</td>
              <td>
                <div class="buttons is-centered">
                  <button
                    class="button is-light"
                    type="button"
                    (click)="put(movie)"
                  >
                    <span class="icon">
                      <fa-icon [icon]="icon.edit"></fa-icon>
                    </span>
                  </button>

                  <button
                    class="button is-danger"
                    type="button"
                    (click)="confirmDelete(movie)"
                  >
                    <span class="icon">
                      <fa-icon [icon]="icon.delete"></fa-icon>
                    </span>
                  </button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>

        <pagination
          [meta]="movies.meta"
          (nextPageClicked)="fetchPaginatedMovies($event)"
          (previousPageClicked)="fetchPaginatedMovies($event)"
        ></pagination>
      </div>
    </ng-container>

    <modal [(isShow)]="modal.isDelete" width="360">
      <div class="box">
        <div class="mb-5">
          <p>
            This action
            <strong>cannot</strong>
            to be undone. This will permanently delete the
            <b>{{ selectedMovie.title }}</b>
            movie.
          </p>
        </div>

        <div class="buttons is-right">
          <button
            class="button is-danger is-light"
            type="button"
            (click)="delete()"
          >
            Confirm
          </button>

          <button
            class="button is-light"
            type="button"
            (click)="toggleModal('isDelete')"
          >
            Cancel
          </button>
        </div>
      </div>
    </modal>

    <modal [(isShow)]="modal.isPut" width="600">
      <form [formGroup]="formState.form" (ngSubmit)="handleSubmit()">
        <div class="card">
          <div class="card-header">
            <div class="card-header-title">
              {{ isEdit ? 'Edit' : 'Add' }} Movie
            </div>
          </div>

          <div class="card-content">
            <div class="columns is-multiline">
              <div class="column is-12">
                <text-field
                  [controlRef]="formState.form.controls.title"
                  [errorMessage]="formState.field.title.error"
                  [id]="'TxtTitle'"
                  label="Title"
                  placeholder="The title of the movie"
                ></text-field>
              </div>

              <div class="column is-6">
                <text-field
                  [controlRef]="formState.form.controls.genres"
                  [errorMessage]="formState.field.genres.error"
                  [id]="'TxtGenres'"
                  label="Genres"
                  placeholder="What are the genres?"
                ></text-field>
              </div>

              <div class="column is-6">
                <text-field
                  [controlRef]="formState.form.controls.producers"
                  [errorMessage]="formState.field.producers.error"
                  [id]="'TxtProducers'"
                  label="Producers"
                  placeholder="How about Sule, Nunung?"
                ></text-field>
              </div>

              <div class="column is-6">
                <text-field
                  [controlRef]="formState.form.controls.director"
                  [errorMessage]="formState.field.director.error"
                  [id]="'TxtDirector'"
                  label="Director"
                  placeholder="How about the director?"
                ></text-field>
              </div>

              <div class="column is-6">
                <text-field
                  [controlRef]="formState.form.controls.writer"
                  [errorMessage]="formState.field.writer.error"
                  [id]="'TxtWriter'"
                  label="Writer"
                  placeholder="Who made the scenario?"
                ></text-field>
              </div>

              <div class="column is-6">
                <text-field
                  [controlRef]="formState.form.controls.production"
                  [errorMessage]="formState.field.production.error"
                  [id]="'TxtProduction'"
                  label="Production"
                  placeholder="Who produced this film?"
                ></text-field>
              </div>

              <div class="column is-6">
                <text-field
                  [controlRef]="formState.form.controls.casts"
                  [errorMessage]="formState.field.casts.error"
                  [id]="'TxtCast'"
                  label="Cast"
                  placeholder="Let's fill in the cast"
                ></text-field>
              </div>

              <div class="column is-6">
                <text-field
                  [controlRef]="formState.form.controls.start"
                  [errorMessage]="formState.field.start.error"
                  [id]="'TxtDateStart'"
                  label="Date Start"
                  placeholder="Let's fill in the cast"
                  type="date"
                ></text-field>
              </div>

              <div class="column is-6">
                <text-field
                  [controlRef]="formState.form.controls.end"
                  [errorMessage]="formState.field.end.error"
                  [id]="'TxtDateEnd'"
                  label="Date End"
                  placeholder="Let's fill in the cast"
                  type="date"
                ></text-field>
              </div>

              <div class="column is-12">
                <textarea-field
                  [controlRef]="formState.form.controls.synopsis"
                  [errorMessage]="formState.field.synopsis.error"
                  [id]="'TxtSynopsis'"
                  label="Synopsis"
                  placeholder="Synopsis of this movie"
                ></textarea-field>
              </div>
            </div>

            <div class="buttons is-right">
              <button class="button is-info is-light" type="submit">
                Submit
              </button>

              <button class="button is-light" type="button" (click)="cancel()">
                Cancel
              </button>
            </div>
          </div>
        </div>
      </form>
    </modal>
  </ng-template>

  <ng-template #notFound>
    <p class="mb-3">Data not found</p>

    <button class="button is-info" type="button" (click)="put()">
      Add Movie
    </button>
  </ng-template>
</base-layout>
